
<div class="container">
    <mat-card class="card-launch">
        <mat-card-title-group>
          <mat-card-title>Not found</mat-card-title>
          <mat-card-subtitle><p id="error">Error 404</p></mat-card-subtitle>
        </mat-card-title-group>
         <mat-card-content>
            <p id="message">{{messgage}}</p>
          <mat-divider></mat-divider>
          <p>Go to home page please.</p>
          <button mat-raised-button class="btn" color="primary" type="button" (click)="prev()" class="button" >Home page</button>
        </mat-card-content>
    </mat-card>

</div>