div#container{
   margin-top: 3Px;
}
button > li.nav-item {
    list-style-type: none;
}

.container{
    margin: auto;
    height: 50%;
    max-width: 50%;
}

.container{
    margin:0 auto;
    height: 50%;
    max-width: 50%;
 

}
.btn-primary {
    margin-top: 5px;
}

